* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(0, 0, 0);
    --text: white;
    --text-wheat: wheat;
}

[data-theme = "light"] {
    --primary-color: white;
    --text: black;
    --text-wheat: rgb(34, 34, 34);
}

body {
    width: 100vw;
    background-color: var(--primary-color);
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: .5s;
}
body::-webkit-scrollbar {
    display: none;
}
.container1 {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    transition: .5s;
}

.container2 {
    width: 100%;
    /* height: 100vh; */
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.container2 img {
    width: 60%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.des {
    color: var(--text);
    text-align: center;
}

.profile-text {
    color: transparent;
    text-align: center;
    padding-top: 20%;
    font-size: 10rem;
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-wheat);
    text-shadow: 0.5rem 0.5rem 0 wheat;
    transition: .5s;
}

@media screen and (max-width: 400px) {
    .profile-text {
        font-size: 2rem;
        -webkit-text-stroke-width: 1px;
        text-shadow: 0.1rem 0.1rem 0 wheat;
    }
    .container1 {
        height: auto;
    }
    .container2 {
        height: 100vh;
    }
    .des {
        margin-top: -30%;
    }
}

@media screen and (max-width: 900px) {
    .profile-text {
        font-size: 6rem;
        margin-bottom: 20%;
    }
    .container1 {
        height: auto;
    }
}

@media screen and (max-width: 1250px) {
    .profile-text {
        padding-top: 10%;
    }
}
