@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;700&display=swap');

*{
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
body {
    background-color: black;
}

.lecture-head {
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: wheat;
}

.container {
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-top: 10%; */
    padding-top: 10%;
}

.cont {
    position: relative;
    display: inline-block;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 300;
}
.lab-text {
    font-weight: 900;
}
.frame {
    position: relative;
    width: 50%;
    text-align: center;
    color: #ffffff;
    border: 2px solid wheat;
    border-radius: 60px;
    padding: 1.5% 0;
    margin: 2% auto;
}

.frame::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: wheat;
    border-radius: 60px;
    transition: all .37s;
}

.frame:hover {
    color: black;
}

.frame:hover:after{
    width: 100%;
}

@media screen and (max-width:400px) {
    .container {
        padding-top: 25%;
    }
    .cont {
        font-size: 1rem;
    }
    .frame {
        padding: 1% 5%;
        margin: 5% auto;
    }
}