@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    overflow-y: scroll;
}
.lab1, .lab2, .lab3, .lab4,
.lab5, .lab6, .lab7, .lab8 {
    font-size: 1rem;
}
nav {
    background-color: rgba(14, 13, 13, 1);
}

h1 {
    color: white;
    font-size: 28px;
    font-weight: 900;
    text-decoration: none;
}

nav::after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 900;
    line-height: 70px;
    padding-left: 60px;

}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: rgba(14, 13, 13, 0.8);
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    padding: 8px 15px;
}

nav ul li a:hover {
    /* border: 1px solid white; */
    color: rgba(14, 13, 13, 0.5);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    /* box-shadow: 0 0 1px #33ffff; */  
    transition: 0.7s all;   
}

nav ul ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(14, 13, 13, 0);
}

nav ul ul {
    position: absolute;
    top: 90px;
    /* border-top: 1px solid white; */
    opacity: 0;
    visibility: hidden;
    transition: top .5s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgb(46, 46, 46);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}

.show, .icon, input {
    display: none;
}

@media all and (max-width: 968px){
    nav ul {
        margin-right: 0px;
        float: left;
    }
    nav .logo {
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul {
        top: 70px;
        position: static;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul ul li {
        position: static;
    }
    nav ul ul li {
        border-bottom: 0px;
    }
    nav ul ul {
        padding-left: 40px;
    }
    nav ul li a:hover {
        border-radius: 0;
    }
    nav ul ul ul a {
        padding-left: 60px;
        border-left: 1px solid white;
        color: rgb(255, 255, 255);
    }
    nav ul ul ul a:hover {
        color: rgb(201, 201, 201);
        border-left: 1px solid rgb(255, 255, 255);
    }
    .show {
        display: block;
        color: white;
        font-size: 16px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: rgb(201, 201, 201);
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
    }
    nav ul li a:hover {

    }
    .show + a, ul {
        display: none;
    }
    [id^=btn]:checked + ul {
        display: block;
    }
   
}

/* Wrapper Content */
.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;
    padding: 25px 30px 30px 30px;
    border-radius: 10px;
    background: rgba(14, 13, 13, 1);
}

/* Head of Content */
.wrapper .head {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
/* Menu of Content */
.wrapper .menu {
    position: relative;
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;

}
/* Label menu (list name) */
.wrapper .menu label {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-size: 1.3vw;
    border-radius: 10px 10px 0 0;
    transition: all .3s ease;
}
/* Label menu (list name) hover */
.wrapper .menu label:hover {
    background-color: rgba(201, 201, 201, 0.3);
}

#lab1:checked ~ .menu label.lab1,
#lab2:checked ~ .menu label.lab2,
#lab3:checked ~ .menu label.lab3,
#lab4:checked ~ .menu label.lab4,
#lab5:checked ~ .menu label.lab5,
#lab6:checked ~ .menu label.lab6,
#lab7:checked ~ .menu label.lab7,
#lab8:checked ~ .menu label.lab8 {
    color: rgb(0, 0, 0);
}
/* Menu When Selected */
.menu .slider {
    position: absolute;
    height: 100%;
    width: 12.5%;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
    transition: all .3s ease;
}
input[type="radio"] {
    display: none;
}
/* Position when selected menu */
#lab1:checked ~ .menu .slider {
    left: 0%;
}
#lab2:checked ~ .menu .slider {
    left: 12.5%;
}
#lab3:checked ~ .menu .slider {
    left: 25%;
}
#lab4:checked ~ .menu .slider {
    left: 37.5%;
}
#lab5:checked ~ .menu .slider {
    left: 50%;
}
#lab6:checked ~ .menu .slider {
    left: 62.5%;
}
#lab7:checked ~ .menu .slider {
    left: 75%;
}
#lab8:checked ~ .menu .slider {
    left: 87.5%;
}
section .content {
    display: none;
    background: rgb(14, 13, 13);
}
#lab1:checked ~ section .content-1,
#lab2:checked ~ section .content-2,
#lab3:checked ~ section .content-3,
#lab4:checked ~ section .content-4,
#lab5:checked ~ section .content-5,
#lab6:checked ~ section .content-6,
#lab7:checked ~ section .content-7,
#lab8:checked ~ section .content-8 {
    display:block;
}
/* Title of Content */
section .content .title {
    font-size: 1.6vw;
    font-weight: 700;
    margin: 40px 0 10px 0;
}
/* Paragraph in content */
section .content p {
    font-size: 1.2vw;
    text-align: justify;
    margin-bottom: 30px;
}
/* image in content */
section .content img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}