@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;700&display=swap');
* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

/* BG IMAGE */
.top {
    background-image: url(./img/bg.jpg);
    /* background:linear-gradient(-90deg, rgba(0,212,255,0) 0%, rgb(255, 255, 255) 100%), url('img/bg.jpg');  */
    /* background:-webkit-linear-gradient(-90deg, rgba(0,212,255,0) 0%, rgb(255, 255, 255) 100%), url('img/bg.jpg');  */
    background-repeat: no-repeat; /*ไม่แสดงผลซ้ำ*/
    background-position: center; /*แสดงผลตรงกลาง*/
    background-size: cover; /*แสดงผลครอบคลุม*/
    width: 100%; /*ความกว้าง*/
    height: 100vh; /*ความสูง*/
    z-index: 0;
}

/* TEXT ON BG */
.des {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 5vw;
    top: 60%;
    margin-left: 60px;
    letter-spacing: 20px;
    text-shadow: 3px 3px 10px rgb(0, 0, 0, 0.4);
}

/* TEXT ON BG */
.des2 {
    position: relative;
    color: white;
    top: 60%;
    margin-left: 60px;
    font-size: 2.3vw;
    text-shadow: 3px 3px 10px rgb(0, 0, 0, 0.4);
}

/* box Button Start */
.btn {
    width: 100%; /*ความกว้าง*/
    height: 2.5em; /*ความสูง*/
    display: flex;
    justify-content: center;
    /* left: 50%; */
}

/* Button Start */
.btn .start {
    position: relative;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 42%; */
    transition: .3s;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    
}

/* Hover Button */
.start:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    color: black;
    
}

.impress {
    height: 100vh;
}
